<!--  src\app\pages\configuracao\configuracao.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuração</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isAuthenticated; else configContent">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login de Configuração</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuário</ion-label>
          <ion-input [(ngModel)]="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="password" [type]="passwordType" clearInput>
            <ion-icon slot="end" [name]="passwordType === 'password' ? 'eye-off' : 'eye'" (click)="togglePassword('loginpassword')"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-button expand="block" (click)="login()">Entrar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
  <ng-template #configContent>
    <!-- BLOCO CONFIG -->
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Login administrativo</ion-label>
          <ion-input [(ngModel)]="newConfiguracao.login"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">URL da API</ion-label>
          <ion-input [(ngModel)]="newConfiguracao.urlapi"></ion-input>
        </ion-item>      
        <ion-button expand="block" (click)="atualizarConfiguracoes()">Salvar configurações</ion-button>
      </ion-card-content>
    </ion-card>
    <!-- End --> 

    <!-- BLOCO SENHA -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Alterar Senha</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nova Senha</ion-label>
          <ion-input [(ngModel)]="password" [type]="passwordTypeNew" clearInput>
            <ion-icon slot="end" [name]="passwordTypeNew === 'password' ? 'eye-off' : 'eye'" (click)="togglePassword('new')"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Nova Senha</ion-label>
          <ion-input [(ngModel)]="passwordConfirm" [type]="passwordTypeConfirm" clearInput>
            <ion-icon slot="end" [name]="passwordTypeConfirm === 'password' ? 'eye-off' : 'eye'" (click)="togglePassword('confirm')"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-button expand="block" (click)="atualizarSenha()">Alterar Senha</ion-button>
      </ion-card-content>
    </ion-card>   
    <!-- End --> 

    <!-- BLOCO Banco de Dados -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Banco de Dados</ion-card-title>
      </ion-card-header>
      <ion-card-content> 
        <ion-button expand="block" (click)="exportDatabase()">Exportar Banco de Dados</ion-button>
        <ion-button expand="block" (click)="importDatabase()">Importar Banco de Dados</ion-button>
        <ion-button expand="block" color="danger" (click)="resetDatabase()">Limpar Banco de Dados</ion-button>
      </ion-card-content>
    </ion-card>
    <!-- End --> 

     <!-- Botão Sair das Configurações -->
     <ion-button expand="block" color="secondary" (click)="logout()">Sair das configurações</ion-button>
  </ng-template>
</ion-content>
