<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Desconto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="stacked">Código de Desconto</ion-label>
    <ion-input [(ngModel)]="desconto.codigodesconto" placeholder="Digite o código do desconto" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Recibo</ion-label>
    <ion-input [(ngModel)]="desconto.numerorecibo" type="text" placeholder="Digite o recibo"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Nome do Atendente</ion-label>
    <ion-input [(ngModel)]="desconto.nomeatendente" placeholder="Digite o nome do atendente"></ion-input>
  </ion-item>  

  <ion-item lines="full">
    <ion-label position="stacked">Total Preço</ion-label>
    <ion-input [value]="desconto.totalpreco | number: '1.2-2'" readonly></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Total Desconto Recebido</ion-label>
    <ion-input [value]="desconto.totaldescontorecebido | number: '1.2-2'" readonly></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Total com Desconto</ion-label>
    <ion-input [value]="desconto.totaldesconto | number: '1.2-2'" readonly></ion-input>
  </ion-item>

  <ion-accordion-group>
    <ion-accordion *ngFor="let item of descontosTiposPagamento; let i = index">
      <ion-item slot="header">
        <ion-label>
          Tipo de Pagamento: {{ item.tipopagamento }}, Valor Pago: {{ item.valorpago }}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button #btEditarProduto (click)="editDescontosTiposPagamento(i)">Editar</ion-button>
          <ion-button #btDeletarProduto color="danger" (click)="deleteDescontosTiposPagamento(i)">Deletar</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label position="stacked">Tipo de Pagamento</ion-label>
          <ion-select [(ngModel)]="item.tipopagamento" required>
            <ion-select-option *ngFor="let pagamento of pagamentos" [value]="pagamento">{{ pagamento }}</ion-select-option>
          </ion-select>
          <ion-label position="stacked">Valor Pago</ion-label>
          <ion-input [(ngModel)]="item.valorpago" placeholder="Digite o valor pago" type="number" (ngModelChange)="formatValue($event)"></ion-input>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="sugerirValorTotalAPagarDescontosTiposPagamento(item)">Preencher Valor Total a Pagar</ion-button>  
          </ion-buttons>
        </ion-item>        
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>  

  <ion-accordion-group>
    <ion-accordion *ngFor="let item of descontosCombustiveis; let i = index">
      <ion-item slot="header">
        <ion-label>
          Bomba: {{ item.idbomba }}, Bico: {{ item.idbico }}, Combustível: {{ item.nome }}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button #btEditarProduto (click)="editDescontosCombustiveis(i)">Editar</ion-button>
          <ion-button #btDeletarProduto color="danger" (click)="deleteDescontosCombustiveis(i)">Deletar</ion-button>
        </ion-buttons>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <p>Preço: R${{ item.preco }}</p>
            <p>Total de litros abastecidos: {{ item.totallitros | number: '1.2-2'}}</p>
            <p>Total sem desconto: R${{ item.totalprecocombustivel | number: '1.2-2'}}</p>
            <p>Total de desconto recebido: R${{ item.totaldescontorecebidocombustivel | number: '1.2-2'}}</p>            
            <p color="danger">Total com desconto: R${{ item.totaldescontocombustivel | number: '1.2-2'}}</p>
          </ion-label>
        </ion-item>        
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <!-- Botão Adicionar Produto -->
  <ion-button expand="block" id="btAdicionarProduto" (click)="addDescontosCombustiveis()">Adicionar Produto</ion-button>
  <!-- Botão Validar Desconto -->
  <ion-button expand="block" color="secondary" id="btValidarDesconto" (click)="validarDesconto()">Validar Desconto</ion-button>
  <!-- Botão Adicionar Pagamento -->
  <ion-button expand="block" id="btAdicionarPagamento" (click)="addDescontosTiposPagamento()">Adicionar Tipo de Pagamento</ion-button>
  <!-- Botão Gerar Desconto -->
  <ion-button expand="block" id="btGerarDesconto" (click)="saveDesconto()">Confirmar Desconto</ion-button>
  <!-- Botão Cancelar Desconto -->
  <ion-button expand="block" color="danger" id="btCancelarDesconto" (click)="cancelarDesconto()">Cancelar Desconto</ion-button>
</ion-content>
