<!-- src\app\pages\cadastro\cadproduto\cadproduto.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Código</ion-label>
    <ion-input [(ngModel)]="newProduto.id" placeholder="Digite o código do produto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="newProduto.nome" placeholder="Digite o nome"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Tipo de produto</ion-label>
    <ion-select [(ngModel)]="newProduto.tipoproduto" required>
      <ion-select-option *ngFor="let tipoproduto of tiposproduto" [value]="tipoproduto">{{ tipoproduto }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Preço</ion-label>
    <ion-input [(ngModel)]="newProduto.preco" type="text" placeholder="Digite o preço"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">NCM</ion-label>
    <ion-input [(ngModel)]="newProduto.ncm" placeholder="Digite o NCM"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Código de Barras</ion-label>
    <ion-input [(ngModel)]="newProduto.codigobarras" placeholder="Digite o Código de Barras"></ion-input>
  </ion-item>

  <ion-item>        
    <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="newProduto.status">Status (Ativo ou Inativo)
    </ion-checkbox>
  </ion-item>

  <ion-button expand="block" (click)="saveProduto()">Gravar</ion-button>
  <ion-button expand="block" color="secondary" (click)="voltarPagina()">Cancelar</ion-button>
</ion-content>
