// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

.normal-icon {
    width: 24px;
    height: 24px;    
    /*  https://angel-rs.github.io/css-color-filter-generator/ */
    filter: brightness(0) saturate(100%) invert(43%) sepia(11%) saturate(661%) hue-rotate(173deg) brightness(94%) contrast(90%);
    transition: opacity 0.3s ease; 
    transition: filter 0.3s ease;
  } 


  ion-item.selected .normal-icon {
    /*  https://angel-rs.github.io/css-color-filter-generator/ */
    filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(3622%) hue-rotate(217deg) brightness(92%) contrast(101%);
  }
  