<!-- src/app/pages/combustivel/combustivel.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Combustíveis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion *ngFor="let combustivel of combustiveis">
      <ion-item slot="header">
        <ion-label>{{ combustivel.id }} - {{ combustivel.nome }} - R$:{{ combustivel.preco | number: '1.2-2' }}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="editCombustivel(combustivel)"> Editar </ion-button>
          <ion-button color="danger" (click)="deleteCombustivel(combustivel.id)"> Deletar </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-label>
            <h2>Código: {{ combustivel.id }}</h2>
            <p>Nome: {{ combustivel.nome }}</p>
            <p>Tipo produto: {{ combustivel.tipoproduto }}</p>
            <p>Bombas: {{ combustivel.idbombas }}</p>            
            <p>Bicos: {{ combustivel.idbicos }}</p>            
            <p>Preço: {{ combustivel.preco | number: '1.2-2' }}</p>
            <p>NCM: {{ combustivel.ncm }}</p>
            <p>ANP: {{ combustivel.anp }}</p>
            <p>Código de barras: {{ combustivel.codigobarras }}</p>
            <p>Status: {{ retornaStatusString(combustivel.status) }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div class="fab-container">
      <ion-fab-button (click)="sincronizarTodosCombustiveis()">
        <ion-icon name="sync"></ion-icon>
      </ion-fab-button>    
      <ion-fab-button (click)="editCombustivel({ id: null, nome: '', idbicos: '', idbombas: '', preco: 0.0000, tipoproduto: '', status: true, ehcombustivel: true, ncm: '', anp: '', codigobarras: '' })">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>      
    </div>
  </ion-fab>  
</ion-content>
