<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Descontos Combustíveis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="stacked">Bomba</ion-label>
    <ion-select [(ngModel)]="descontosCombustiveis.idbomba" (ionChange)="loadBicos(descontosCombustiveis.idbomba)">
      <ion-select-option *ngFor="let bomba of bombas" [value]="bomba.idbomba">{{ bomba.idbomba }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Bico</ion-label>
    <ion-select [(ngModel)]="descontosCombustiveis.idbico" (ionChange)="loadCombustivel(descontosCombustiveis.idbomba, descontosCombustiveis.idbico)">
      <ion-select-option *ngFor="let bico of bicos" [value]="bico">{{ bico }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="descontosCombustiveis.nome" readonly></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Preço</ion-label>
    <ion-input [(ngModel)]="descontosCombustiveis.preco" readonly></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Total Litros</ion-label>
    <ion-input [(ngModel)]="descontosCombustiveis.totallitros" type="number" inputmode="numeric" (ionChange)="calculateTotals()"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Valor Total</ion-label>
    <ion-input [(ngModel)]="descontosCombustiveis.totalprecocombustivel" readonly></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Valor Desconto Recebido</ion-label>
    <ion-input [(ngModel)]="descontosCombustiveis.totaldescontorecebidocombustivel" readonly></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="stacked">Total com Desconto</ion-label>
    <ion-input [(ngModel)]="descontosCombustiveis.totaldescontocombustivel" readonly></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="saveProduto()">Gravar</ion-button>
  <ion-button expand="block" color="danger" (click)="deleteProduto()">Excluir</ion-button>
  <ion-button expand="block" (click)="voltar()">Voltar</ion-button>
</ion-content>
